@import '/src/styles.scss';

.result-container {
    .result-count {
        font-size:9rem;
        font-weight: 900;
        color: $warning;
        margin-top: .9rem;
    }
    .correct-uf {
        background: $success;
        color: $dark;
        font-weight: 600;
    }

    .text-question {
        font-size: 1.8rem;
        font-weight: 600;
    }
}