<div class="home-container d-flex flex-col align-items-center my-2">
    <div class="mt-5">
        <app-header shapeSrc="assets/shapes/box.svg"></app-header>
    </div>
    <div class="icon-container">
        <i-user-bordered-bold iconFillColor="#F24AFF"></i-user-bordered-bold>
    </div>
    <div class="mt-2 message-text-container">
        <shape-content shapeId="message-text" shapeSrc="assets/shapes/message-square.svg">
            <div class="content-container-questions">
                <p class="text-question">Quantos sotaques brasileiros você consegue identificar?</p>
                <p class="text-question">Esse teste tem 27 áudios falados por pessoas nativas de cada estado do Brasil</p>
            </div>
        </shape-content>
        <div class="icon-message-container">
            <i-user-square-bold iconFillColor="#3BE25A"></i-user-square-bold>
        </div>
    </div>
    <div class="d-flex align-items-center justify-center">
        <a (click)="sendStartQuizData()" routerLink="/quiz">
            <shape-content shapeId="button-start" shapeSrc="assets/shapes/rounded-message.svg"></shape-content>
        </a>
    </div>
    <div class="d-flex align-items-center justify-center mt-1">
        <i-user-rounded-bold iconFillColor="#FFCE00"></i-user-rounded-bold>
    </div>
    <div class="explanation-container mt-4">
        <p class="title">Porque esse projeto existe?</p>
        <p class="text">Queremos mostrar que o Brasil é bem maior que um eixo ou um estado. Ele apresenta diversos sotaques e variações linguísticas. O nosso experimento foi separado em 27 perguntas/sotaques (número de estados brasileiros + DF). Porém, queremos ressaltar que não só os sotaques variam de cada estados, mas também em cidades e regiões menores. A língua é viva, está em constante transformação e varia de acordo com o meio que ela está inserida. Por isso, abracemos nossos jeitos, bagulhos, trems e todo o nosso Brasil.</p>
    </div>
</div>