<div class="audio-player" [attr.data-letter]="audioLetter">
    <div class="action-play-pause hover-opacity" (click)="toggleStateAudio()">
        <div *ngIf="service.isPlaying; else elseBlock">
            <i-audio-pause (click)="pauseAudio()"></i-audio-pause>
        </div>  
        <ng-template #elseBlock>
            <i-audio-play (click)="playAudio()"></i-audio-play>
        </ng-template>
    </div>
    <input class="duration-slider" (input)="seekTo($event)" value="0" type="range">
    <div class="volume" (click)="toggleStateVolume($event)">
        <i-audio-volume [iconFillColor]="volumeIsOpen ? '#F24AFF' : '#FFFF'"></i-audio-volume>
        <input class="volume-slider" [class.open]="volumeIsOpen" (input)="setVolume($event)" value="50" min="0" max="100" type="range">
    </div>
</div>