<div class="confirm-quiz-container">
    <app-header shapeSrc="assets/shapes/border-box.svg"></app-header>
    <div class="question-page-subtitle">FIM</div>
    <div class="d-flex justify-center align-items-center">
        <p class="question-text">Você respondeu a<br> todas as perguntas!</p>
    </div>
    <div class="d-flex align-items-center justify-center mt-4">
        <i-user-rounded iconFillColor="#FFFF"></i-user-rounded>
    </div>
    <div class="d-flex align-items-center justify-between mt-6">
        <a (click)="goToQuiz()" routerLink="/quiz">
            <button class="btn-default bg-light hover-opacity" type="button">
                <img src="assets/icons/arrow-left.svg" alt="">
            </button>
        </a>
        <a routerLink="/result">
            <button class="btn-default bg-success hover-opacity see-result" type="button">
                Ver resultado
                <img src="assets/icons/arrow-right.svg" alt="">
            </button>
        </a>
    </div>
</div>