.confirm-quiz-container {
    .see-result {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        font-size:1.8rem;
    }
}