@import '/src/styles.scss';

.quiz-container {   
    .quiz-actions {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        align-items: flex-start;
        margin-top: 2rem;
        .ufs {
            display: grid;
            grid-template-columns: repeat(9,1fr);
            gap: 0.8rem;
            @media screen and (max-width:767px) {
                grid-template-columns: repeat(5,1fr);
            }
            @media screen and (max-width:420px) {
                grid-template-columns: repeat(3,1fr);
            }
            @media screen and (max-width:320px) {
                grid-template-columns: repeat(2,1fr);
            }
        }
        .active-uf {
            color: $dark;
            font-weight: 600;
            background: $light;
        }
    }

    .send-quiz {
        min-width: 20rem;
        font-weight: 600;
        font-size: 1.65rem;
        padding: 1rem 2rem;
        color: $light;
        background: $primary;
        margin-top: 1rem;
    }
}