@import '/src/styles.scss';

.quiz-container {   
    .quiz-actions {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        align-items: flex-start;
        margin-top: 2rem;
        .active-uf {
            color: $dark;
            font-weight: 600;
            background: $light;
        }
    }

    .send-quiz {
        min-width: 20rem;
        font-weight: 600;
        font-size: 1.65rem;
        padding: 1rem 2rem;
        color: $light;
        background: $primary;
        margin-top: 1rem;
    }
}