#brand-shape {
    width: 24rem;
}

#message-text {
    width: 27rem;
    margin-left: 3.5rem;
    padding-left: 6.5rem;
    @media screen and (max-width:480px) {
        width: 24rem;
        margin-left: 0;
        padding-left: 5rem;
        .text-question {
            font-size:1.45rem;
        }
    }
}

#message-text-result {
    width: 25rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.7rem;
}

#button-start {
    width: 20rem;
    margin-top: 2rem;
    cursor: pointer;
    &:hover {
        filter: opacity(.7)
    }
}

#user-square-bold {
    @media screen and (max-width:480px) {
        width: 24px;
        height: 30px;
    }
}