#brand-shape {
    width: 24rem;
}

#message-text {
    width: 27rem;
    margin-left: 3.5rem;
    padding-left: 6.5rem;
}

#message-text-result {
    width: 25rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.7rem;
}

#button-start {
    width: 20rem;
    margin-top: 4rem;
    cursor: pointer;
    &:hover {
        filter: opacity(.7)
    }
}